{
  "plugins": ["@babel/syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
        },
      },
    ],
  "next/babel",
	"@babel/preset-typescript",
	"@babel/preset-react"
  ]
}
